@font-face {
  font-family: externalFont;
  src: url(https://lesthe.com/cdn/uthin/inc/assets-black/fonts/GTWalsheimPro-Bold.woff);
}

@font-face {
  font-family: externalFontLight;
  src: url(https://lesthe.com/cdn/uthin/inc/assets-black/fonts/GTWalsheimPro-Medium.woff);
}

@font-face {
  font-family: externalFont2;
  src: url(https://lesthe.com/cdn/uthin/inc/assets-black/fonts/GTWalsheimPro-Black.woff);
}

.xtroBurn-yellow-banner {
  background-color: #ff952f;
  position: relative;
}

.xtroBurn {
  margin-top: 50px;
}

.xtroBurn-yellow-banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: externalFont;
  letter-spacing: 1px;
}
.xtroBurn-yellow-banner h2 span:last-child {
  font-weight: 900;
  font-size: 45px;
}
.xtroBurn-yellow-banner h2 span:nth-child(2) {
  font-weight: 100;
  line-height: 1.4;
}
.xtroBurn-yellow-banner-img {
  width: 85%;
  margin: auto;
  margin-right: 0%;
}

/* xtroBurn-red-banner */
.xtroBurn-red-banner {
  margin-top: 100px;
}
.xtroBurn-red-banner h2:nth-child(1) {
  text-transform: uppercase;
  text-align: center;
  color: #e33c2f;
  font-size: 40px;
  font-weight: bold;
  font-family: externalFont2;
}

.xtroBurn-red-banner h2:nth-child(2) {
  text-align: center;
  color: #e33c2f;
  font-size: 40px;
  font-weight: bold;
  font-family: externalFont2;
  border-radius: 7px;
  border: #e33c2f 3px solid;
  width: 30%;
  padding: 15px;
  margin: auto;

  margin-top: 15px;
}
.xtroBurn-red-banner-width {
  background-color: #e33c2f;
  margin: 40px 0;
}
.xtroBurn-red-banner-grid {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1fr 0.7fr;

  width: 90%;
  margin: auto;
}

.xtroBurn-red-banner-grid-bullets-div {
  border: white 2px solid;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  width: 62%;
  margin: 25px auto;
}
.xtroBurn-red-banner-grid-product {
  width: 60%;
  margin: auto;
}

.xtroBurn-red-banner-grid-bullets-div img {
  width: 80px;
}

.xtroBurn-red-banner-grid-bullets-div p {
  color: white;
  margin: auto 0;
  margin-left: 10px;
}
.xtroBurn-red-banner-grid-bullets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px auto;
}

.xtroBurn-red-banner-grid-bullets h3 {
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  margin: 20px auto;
  margin-top: 45px;
}

.xtroBurn-red-banner-grid-text p {
  background-color: white;
  color: #e33c2f;
  padding: 10px;
  width: 20%;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 20px;
}

.xtroBurn-red-banner-grid-text p:last-child {
  width: 35%;
}
.xtroBurn-red-banner-grid-text p:nth-child(1) {
  margin-top: 100px;
}

.xtroBurn-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.xtroBurn-cta a {
  background-color: #33459a;
  color: white;
  padding: 22px 70px;
  font-size: 32px;
  font-family: externalFont2;
  border-radius: 15px;
}

.xtroBurn-ingredients-red {
  background-color: #e33c2f;
  color: white;
  text-align: center;
  margin: 45px auto;
  padding: 35px 0;
}

.xtroBurn-ingredients-red h2 {
  font-size: 45px;
  line-height: 1.4;
  font-weight: 100;
  font-family: externalFontLight;
}

.xtroBurn-ingredients-red h2 span {
  font-family: externalFont2;
}

/* ingredients */

/* xtroBurn-banner */

.xtroBurn-banner {
  position: relative;
}

.xtroBurn-banner-div {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
}
.xtroBurn-banner-div p {
  text-transform: uppercase;
  font-size: 35px;
  line-height: 1.1;
  font-family: externalFont;
  font-weight: 400;
}
.xtroBurn-banner-div p:nth-child(1) {
  color: white;
  margin-left: 12px;
}
.xtroBurn-banner-div p:nth-child(2) {
  background-color: white;
  color: #e33c2f;
  padding: 3px 12px;
  width: 85%;
  margin-bottom: 25px;
}
.xtroBurn-banner-div img {
  width: 350px;
}

.xtroBurn-banner2 {
  background-color: #e33c2f;
  color: white;
  margin: 5px 0;
  padding: 7px 15px;
  font-size: 18px;
}

/* cross-ingredients */

.cross-ingredients {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.cross-ingredients-content img {
  width: 250px;
}

.cross-ingredients-content h3 {
  font-size: 23px;
}

.cross-ingredients-content ul {
  margin: 25px 0;
}

.cross-ingredients-content ul li {
  list-style-type: disc;
  margin-left: 20px;
}

.main-cross-div img {
  width: 80px;
  margin-right: 15px;
}

.main-cross {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px auto;
}

.main-cross-div {
  display: flex;
  border: #e33c2f 2px solid;
  margin-right: 20px;
  border-radius: 12px;
  padding: 10px;
}

.main-cross-text {
  color: #e33c2f;
  margin: auto 0;
}
.main-cross-text h3 {
  font-family: "externalFont2";
  margin-bottom: 3px;
}

/* xtroBurn-red-line */

.xtroBurn-red-line {
  width: 85%;
  background-color: #e33c2f;
  color: white;
}

.xtroBurn-red-line h2 {
  font-size: 28px;
  padding: 22px;
  text-align: center;
}

/* xtroBurn-how-to-use-content */

.xtroBurn-how-to-use {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 85px auto;
  margin-bottom: 125px;
}
.xtroBurn-how-to-use-content {
  display: flex;
}

.xtroBurn-how-to-use-content img {
  width: 150px;
  margin-right: 25px;
}

.xtroBurn-how-to-use-content div {
  margin: auto 0;
}

/* no-sweat */

.no-sweat {
  position: relative;
}

.no-sweat-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  height: 100%;
}

.no-sweat-div h2 {
  text-transform: uppercase;
  color: white;
  font-family: externalFontLight;
  font-weight: 100;
  font-size: 45px;
  line-height: 1.4;
  margin-bottom: 15px;
  text-align: center;
}

.no-sweat-btn {
  background-color: #33459a;
  color: white;
  padding: 10px 30px;
  font-size: 25px;
  font-family: externalFont;
  letter-spacing: 1px;
}

.no-sweat-div div {
  display: flex;
  justify-content: center;
}
