@font-face {
  font-family: externalFont;
  src: url(https://lesthe.com/cdn/uthin/inc/assets-black/fonts/GTWalsheimPro-Bold.woff);
}

@font-face {
  font-family: externalFontLight;
  src: url(https://lesthe.com/cdn/uthin/inc/assets-black/fonts/GTWalsheimPro-Medium.woff);
}

@font-face {
  font-family: externalFont2;
  src: url(https://lesthe.com/cdn/uthin/inc/assets-black/fonts/GTWalsheimPro-Black.woff);
}

.xtroBurn-yellow-banner {
  background-color: #ff952f;
  position: relative;
}
.desktop-xtroBurn1 {
  display: block;
}

.mobile-xtroBurn1 {
  display: none;
}

.desktop-xtroBurn {
  display: block;
}

.mobile-xtroBurn {
  display: none;
}
.xtroBurn {
  margin-top: 50px;
}
.uppercase {
  text-transform: lowercase;
  font-weight: 400;
}

.xtroBurn-yellow-banner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 32px;
  line-height: 1.6;
  text-transform: uppercase;
  font-family: externalFont;
  letter-spacing: 1px;
}
.xtroBurn-yellow-banner h2 span:last-child {
  font-weight: 900;
  font-size: 45px;
}
.xtroBurn-yellow-banner h2 span:nth-child(2) {
  font-weight: 100;
  line-height: 1.4;
}
.xtroBurn-yellow-banner-img {
  width: 85%;
  margin: auto;
  margin-right: 0%;
}

/* xtroBurn-red-banner */
.xtroBurn-red-banner {
  margin-top: 100px;
}
.xtroBurn-red-banner h2:nth-child(1) {
  text-transform: uppercase;
  text-align: center;
  color: #e33c2f;
  font-size: 40px;
  font-weight: bold;
  font-family: externalFont2;
}

.xtroBurn-red-banner h2:nth-child(2) {
  text-align: center;
  color: #e33c2f;
  font-size: 40px;
  font-weight: bold;
  font-family: externalFont2;
  border-radius: 7px;
  border: #e33c2f 3px solid;
  width: 30%;
  padding: 15px;
  margin: auto;

  margin-top: 15px;
}
.xtroBurn-red-banner-width {
  background-color: #e33c2f;
  margin: 40px 0;
}
.xtroBurn-red-banner-grid {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1fr 0.7fr;

  width: 90%;
  margin: auto;
}

.xtroBurn-red-banner-grid-bullets-div {
  border: white 2px solid;
  border-radius: 15px;
  display: flex;
  padding: 15px;
  width: 62%;
  margin: 25px auto;
}
.xtroBurn-red-banner-grid-product {
  width: 60%;
  margin: auto;
}

.xtroBurn-red-banner-grid-bullets-div img {
  width: 80px;
}

.xtroBurn-red-banner-grid-bullets-div p {
  color: white;
  margin: auto 0;
  margin-left: 10px;
}
.xtroBurn-red-banner-grid-bullets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px auto;
}

.xtroBurn-red-banner-grid-bullets h3 {
  text-transform: uppercase;
  color: white;
  font-size: 60px;
  margin: 20px auto;
  margin-top: 45px;
}

.xtroBurn-red-banner-grid-text p {
  background-color: white;
  color: #e33c2f;
  padding: 10px;
  /* width: 20%; */
  display: inline-block;
  margin-top: 10px;
  border-radius: 12px;
  font-size: 20px;
}

.xtroBurn-red-banner-grid-text p:last-child {
  /* width: 35%; */
  display: inline-block;
}
.xtroBurn-red-banner-grid-text p:nth-child(1) {
  margin-top: 100px;
}

.xtroBurn-cta {
  display: flex;
  align-items: center;
  justify-content: center;
}
.xtroBurn-cta a {
  background-color: #33459a;
  color: white;
  padding: 22px 70px;
  font-size: 32px;
  font-family: externalFont2;
  border-radius: 15px;
}

.xtroBurn-ingredients-red {
  background-color: #e33c2f;
  color: white;
  text-align: center;
  margin: 45px auto;
  padding: 35px 0;
}

.xtroBurn-ingredients-red h2 {
  font-size: 45px;
  line-height: 1.4;
  font-weight: 100;
  font-family: externalFontLight;
}

.xtroBurn-ingredients-red h2 span {
  font-family: externalFont2;
}

/* ingredients */

/* xtroBurn-banner */

.xtroBurn-banner {
  position: relative;
}

.xtroBurn-banner-div {
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
}
.xtroBurn-banner-div p {
  text-transform: uppercase;
  font-size: 35px;
  line-height: 1.1;
  font-family: externalFont;
  font-weight: 400;
}
.xtroBurn-banner-div p:nth-child(1) {
  color: white;
  margin-left: 12px;
}
.xtroBurn-banner-div p:nth-child(2) {
  background-color: white;
  color: #e33c2f;
  padding: 3px 12px;
  width: 85%;
  margin-bottom: 25px;
}
.xtroBurn-banner-div img {
  width: 350px;
}

.xtroBurn-banner2 {
  background-color: #e33c2f;
  color: white;
  margin: 5px 0;
  padding: 7px 15px;
  font-size: 18px;
}

/* cross-ingredients */

.cross-ingredients {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.cross-ingredients-content img {
  width: 250px;
}

.cross-ingredients-content h3 {
  font-size: 23px;
}

.cross-ingredients-content ul {
  margin: 25px 0;
}

.cross-ingredients-content ul li {
  list-style-type: disc;
  margin-left: 20px;
}

.main-cross-div img {
  width: 80px;
  margin-right: 15px;
}

.main-cross {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px auto;
}

.main-cross-div {
  display: flex;
  border: #e33c2f 2px solid;
  margin-right: 20px;
  border-radius: 12px;
  padding: 10px;
}

.main-cross-text {
  color: #e33c2f;
  margin: auto 0;
}
.main-cross-text h3 {
  font-family: "externalFont2";
  margin-bottom: 3px;
}

/* xtroBurn-red-line */

.xtroBurn-red-line {
  width: 85%;
  background-color: #e33c2f;
  color: white;
}

.xtroBurn-red-line h2 {
  font-size: 28px;
  padding: 22px;
  text-align: center;
  line-height: 1.4;
}

/* xtroBurn-how-to-use-content */

.xtroBurn-how-to-use {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 85px auto;
  margin-bottom: 125px;
}
.xtroBurn-how-to-use-content {
  display: flex;
  margin-right: 15px;
}

.xtroBurn-how-to-use-content img {
  width: 150px;
  margin-right: 25px;
}

.xtroBurn-how-to-use-content div {
  margin: auto 0;
}

/* no-sweat */

.no-sweat {
  position: relative;
}

.no-sweat-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: space-evenly;
  height: 100%;
}

.no-sweat-div h2 {
  text-transform: uppercase;
  color: white;
  font-family: externalFontLight;
  font-weight: 100;
  font-size: 45px;
  line-height: 1.4;
  margin-bottom: 15px;
  text-align: center;
}

.no-sweat-btn {
  background-color: #33459a;
  color: white;
  padding: 10px 30px;
  font-size: 25px;
  font-family: externalFont;
  letter-spacing: 1px;
}

.no-sweat-div div {
  display: flex;
  justify-content: center;
}
.cross-ingredients-content h3 {
  margin-bottom: 8px;
}

@media screen and (max-width: 1800px) {
  .xtroBurn-red-banner h2:nth-child(2) {
    width: 40%;
  }
  .xtroBurn-red-banner-grid-text p:last-child {
    width: 40%;
  }
  .xtroBurn-red-banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    width: 90%;
  }
  .xtroBurn-red-banner-grid-bullets h3 {
    font-size: 55px;
  }

  .xtroBurn-yellow-banner h2 {
    font-size: 29px;
  }
}

@media screen and (max-width: 1500px) {
  .xtroBurn-yellow-banner-img {
    width: 100%;
    margin: auto;
  }

  .xtroBurn-red-banner-grid-bullets h3 {
    font-size: 48px;
  }
  .xtroBurn-yellow-banner h2 {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 23px;
    line-height: 1.6;
  }

  .xtroBurn-yellow-banner h2 span:last-child {
    font-weight: 900;
    font-size: 45px;
    line-height: 1.4;
  }
  .xtroBurn-red-banner-grid-text p:last-child {
    width: 70%;
  }

  .xtroBurn-red-banner-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 0.8fr 0.5fr;
    width: 100%;
  }
  .xtroBurn-red-banner-grid-product {
    width: 70%;
    margin: auto;
  }
  .xtroBurn-red-banner-grid-bullets-div {
    border: white 2px solid;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    width: 82%;
    margin: 15px auto;
  }
  .xtroBurn-banner-div img {
    width: 220px;
  }
  .xtroBurn-banner-div {
    position: absolute;
    top: 50%;
    left: 21%;
    transform: translate(-50%, -50%);
  }
  .xtroBurn-banner-div p:nth-child(2) {
    width: auto;
  }
  .no-sweat-div h2 {
    font-size: 35px;
  }

  .xtroBurn-red-banner h2:nth-child(2) {
    width: 52%;
  }
}

@media screen and (max-width: 1200px) {
  .cross-ingredients-content img {
    width: 200px;
  }
  .xtroBurn-red-banner-grid-bullets h3 {
    font-size: 40px;
  }
  .xtroBurn-red-banner-grid-bullets-div {
    width: 100%;
  }
  .xtroBurn-red-banner-grid-bullets {
    margin: 3px auto;
  }
  .xtroBurn-red-banner-grid-bullets h3 {
    margin-top: 27px;
  }
  .xtroBurn-yellow-banner h2 {
    position: absolute;
    top: 53%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }
  .xtroBurn-red-banner h2:nth-child(2) {
    width: 65%;
  }
}

@media screen and (max-width: 994px) {
  .xtroBurn-red-banner h2:nth-child(2) {
    width: 75%;
  }
  .desktop-xtroBurn {
    display: none;
  }

  .mobile-xtroBurn {
    display: block;
  }
  .xtroBurn-yellow-banner h2 {
    position: unset;
    top: 53%;
    left: 40%;
    transform: none;
    color: white;
    font-size: 35px;
    background-color: #ff952f;
    text-align: center;
    padding: 35px 0;
    line-height: 1.4;
  }
  .xtroBurn-yellow-banner h2 span:last-child {
    font-weight: 900;
    font-size: 53px;
    line-height: 1.4;
  }

  .xtroBurn-red-banner h2 {
    color: white;
    background-color: #e43d2f;
    padding: 25px;
  }
  .xtroBurn-red-banner h2:nth-child(2) {
    width: auto;
    border-radius: 0;
    padding: 25px;
    color: white;
    margin: 0;
    border: none;
    font-weight: 100;
    font-family: externalFontLight;
    padding-top: 5px;
  }

  .xtroBurn-red-banner h2:nth-child(1) {
    color: white;
    padding-top: 70px;
  }
  .xtroBurn-red-banner {
    margin-top: 0;
    background-color: #e43d2f;
  }
  .xtroBurn-red-banner-width {
    margin: 0;
  }

  .xtroBurn-cta {
    background-color: #e43d2f;
    padding: 35px;
  }

  .xtroBurn-red-banner-grid {
    grid-template-columns: 1fr;
  }

  .xtroBurn-red-banner-grid-product {
    position: relative;
    margin: auto;
    margin-top: 50px;
  }
  .xtroBurn-prod {
    width: 45%;
    margin: auto;
  }

  .xtroBurn-red-banner-grid-text {
    position: absolute;
    top: 15%;
    left: 85%;
    transform: translate(-50%, -50%);
  }
  .xtroBurn-red-banner-grid-text p {
    display: inline-block;
    padding: 15px;
  }
  .xtroBurn-red-banner-grid-text p:last-child {
    display: inline-block;
    width: 100%;
  }
  .xtroBurn-red-banner-grid-text p:nth-child(1) {
    margin: 0;
  }
  .xtroBurn-red-banner-width {
    background-color: #e43d2f;
  }

  .xtroBurn-banner-div p:nth-child(2) {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .desktop-xtroBurn1 {
    display: none;
  }

  .mobile-xtroBurn1 {
    display: block;
  }
  .cross-ingredients {
    display: block;
  }
  .cross-ingredients-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .container-mob {
    width: 100%;
  }
  .xtroBurn-banner2 {
    text-align: center;
  }
  .xtroBurn-banner2 p {
    font-size: 20px;
    line-height: 1.4;
  }
  .uppercase {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
  }

  .xtroBurn-banner-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .xtroBurn-banner-div img {
    width: 350px;
  }
  .xtroBurn-banner2 {
    background-color: #e43d2f;
    padding: 20px 0;
  }
  .main-cross {
    display: block;
  }
  .main-cross-div img {
    width: 100px;
    margin-right: 15px;
  }

  .main-cross-div {
    width: 60%;
    margin: 10px auto;
  }
  .xtroBurn-red-line {
    width: 100%;
  }
  .xtroBurn-how-to-use {
    display: block;
    background-color: #e43d30;
  }
  .xtroBurn-how-to-use {
    margin: 0;
  }
  .no-sweat-h2 {
    color: #e43d2f;
    text-align: center;
    font-size: 35px;
    line-height: 1.2;
    font-family: "externalFontLight";
    margin: 15px auto;
    font-weight: 100;
  }
  .xtroBurn-how-to-use-content div {
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }
  .xtroBurn-how-to-use-content div h2{
    margin: 10px;
  }
  .xtroBurn-how-to-use-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
.xtroBurn-how-to-use-content img{
  width: 120px;
}
.xtroBurn-how-to-use-content div p{
  font-family: "externalFontLight";
  width: 60%;
  margin: auto;

}
.no-sweat-div {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.xtroBurn-banner2 p {
  font-size: 16px;
  line-height: 1.4;
}



}

@media screen and (max-width: 414px) {
  .xtroBurn-banner-div p:nth-child(2) {
    margin-bottom: 0px;
    display: inline-block;
}
  .xtroBurn-yellow-banner h2 span:last-child {
    font-size: 40px;
  }
  .xtroBurn-yellow-banner h2 {
    font-size: 25px;
  }
  .xtroBurn-red-banner h2:nth-child(1) {
    font-size: 33px;
  }
  .xtroBurn-red-banner h2:nth-child(2) {
    font-size: 30px;
    padding-top: 0px;
  }
  .xtroBurn-red-banner h2 {
    padding: 17px;
  }
  .xtroBurn-red-banner-grid-text p {
    padding: 12px;
    font-size: 15px;
  }
  .cross-ingredients-content img {
    width: 120px;
  }
  .xtroBurn-banner-div img {
    width: 300px;
    margin-top: 15px;
  }
  .xtroBurn-banner-div p {
    font-size: 25px;
  }
  .main-cross-div {
    width: 80%;
  }
  .xtroBurn-cta a {
    padding: 20px 50px;
    font-size: 24px;
  }
  .cross-ingredients-content ul {
    margin: 15px 0;
  }

  .no-sweat-btn {
    text-align: center;
    background-color: #33459a;
    color: white;
    padding: 9px 23px;
    font-size: 17px;
    font-family: externalFont;
    letter-spacing: 1px;
}

.xtroBurn-red-banner-grid-text p:nth-child(1) {
  margin: 0;
  line-height: 8px;
  font-weight: 600;
}
.xtroBurn-red-banner-grid-text p:last-child{
  line-height: 8px;
font-weight: 600;
}
}
@media screen and (max-width: 375px) {
  .no-sweat-btn {
    background-color: #33459a;
    color: white;
    padding: 8px 23px;
    font-size: 15px;
    font-family: externalFont;
    letter-spacing: 1px;
  }
  .xtroBurn-prod {
    width: 55%;
    margin: auto;
  }
  .xtroBurn-red-banner-grid-text {
    position: absolute;
    top: 15%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  .xtroBurn-red-banner-grid-bullets-div img {
    width: 70px;
  }

  
}
